<?xml version="1.0" encoding="utf-8" ?>
<tasks>
    <task>
        <worstCaseRuntime>
            1
        </worstCaseRuntime>
        <absoluteDeadline>
            2
        </absoluteDeadline>
        <arrivalTime>
            0
        </arrivalTime>
    </task>

    <task>
        <worstCaseRuntime>
            2
        </worstCaseRuntime>
        <absoluteDeadline>
            5
        </absoluteDeadline>
        <arrivalTime>
            0
        </arrivalTime>
    </task>

    <task>
        <worstCaseRuntime>
            2
        </worstCaseRuntime>
        <absoluteDeadline>
            4
        </absoluteDeadline>
        <arrivalTime>
            2
        </arrivalTime>
    </task>

    <task>
        <worstCaseRuntime>
            2
        </worstCaseRuntime>
        <absoluteDeadline>
            10
        </absoluteDeadline>
        <arrivalTime>
            3
        </arrivalTime>
    </task>

    <task>
        <worstCaseRuntime>
            2
        </worstCaseRuntime>
        <absoluteDeadline>
            9
        </absoluteDeadline>
        <arrivalTime>
            6
        </arrivalTime>
    </task>


</tasks>